:root {
	--main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	--page-color: #222222;
	--section-color: #444444;
	--divider-color: #a51659;
	--font-color: #dddddd;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: var(--main-font);
	border: 1px solid red;
}

html {
	background-color: var(--page-color);
}

section {
	background-color: var(--section-color);
	padding: 20px;
}

h2 {
	color: var(--font-color);
}

h3 {
	padding-bottom: 10px;
	color: var(--font-color);
}

label {
	color: var(--font-color);
}

p {
	width: 90%;
	margin: auto;
	padding: 20px 0;
	color: var(--font-color);
}

figcaption {
	width: 300px;
	margin: 0 auto;
	font-style: italic;
	color: var(--font-color);
}

.bio-pic {
	display: inline;
	width: 200px;
	margin: 10px;
  border-radius: 10%;
}

.header {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 15px;
	text-align: center;
	color: var(--font-color);
}

.bio {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

hgroup {
	width: fit-content;
}

.headshot {
	width: 40%;
	height: fit-content;
	display: inline-block;
	padding: 25px;
	margin: 25px;
  border-radius: 5%;
}

.title {
	width: 50%;
  height: fit-content;
	display: inline-block;
	margin: 50px;
}

.formElement {
	padding-bottom: 15px;
}

.med-divider {
	width: 100%;
	height: 5px;
	background-color: var(--divider-color);
  margin: 15px 0;
}

#logo {
  width: 50px;
  display: inline;
  margin: 5px auto;
}

nav {
	width: 100%;
	height: fit-content;
  background: linear-gradient(to right, #b62450, #9198e5);
}

ul {
	list-style: none;
  width: fit-content;
  height: 60px;
  margin: auto 10px;
  display: inline;
}

li {
	display: inline;
	color: var(--font-color);
  margin: 10px;
}

a {
  color: var(--font-color);
  margin: 10px;
  font-size: large;
}

.art {
  width: 80%;
  height: fit-content;
  margin: 25px auto;
}

.artshowcase {
  width: 500px;
  display: inline-block;
  margin: 30px 30px;
}

.art-text {
  display: inline-block;
  width: 50%;
  margin: 20px;
}

footer {
	width: 100%;
	height: 50px;
	background: linear-gradient(to right, #b62450, #9198e5);
}
