:root {
	--main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	--page-color: #222222;
	--section-color: #444444;
	--divider-color: #a51659;
	--font-color: #dddddd;
  --gradient: linear-gradient(to right, #b62450, #9198e5);
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: var(--main-font);
	/* border: 1px solid red; */
}

html {
	background-color: var(--page-color);
}

.container {
	background-color: var(--section-color);
	padding: 20px;
}

.border {
  border-width: 5px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      var(--divider-color), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

h2 {
	color: var(--font-color);
}

label {
	color: var(--font-color);
}

p {
  color: var(--font-color)
}

/* -----Top section----- */
.main-container {
  margin-top: 60px;
}
h3 {
	padding-bottom: 10px;
	color: var(--font-color);
}

.headshot-text {
	width: 90%;
	margin: auto;
	padding: 20px 0;
	color: var(--font-color);
}

figcaption {
	width: 300px;
	margin: 0 auto;
	font-style: italic;
  text-align: center;
	color: var(--font-color);
}

.bio-pic {
	display: inline;
	width: 200px;
	margin: 10px;
  border-radius: 10%;
}

.header {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 15px;
	text-align: center;
	color: var(--font-color);
}

.bio {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

hgroup {
	width: fit-content;
  margin: auto;
}

.headshot {
	width: 40%;
	height: fit-content;
	display: inline-block;
	padding: 25px;
	margin: 25px;
  border-radius: 5%;
}

.title {
  position: relative;
  bottom: 125px;
	width: 50%;
  height: fit-content;
	display: inline-block;
	margin: 50px;
}

/* -----Form----- */
.formElement {
	padding-bottom: 15px;
}

label, input {
  display: inline;
  width: 200px;
}

.form-header {
  content: "⭐";
}
.user-label::before {
  content: "👤";
}
.pass-label::before {
  content: "🔒";
}
.email-label::before {
  content: "📧";
}
.phone-label::before {
  content: "📞";
}
.message-label::before {
  content: "📝";
}

/* -----dividers----- */
.med-divider {
	width: 100%;
	height: 5px;
	background-color: var(--divider-color);
  margin: 15px 0;
}

/* -----Navigation bar----- */
#logo {
  position: absolute;
  left: 10px;
  width: 50px;
  display: inline;
  margin: 5px auto;
}

nav {
  position: fixed;
  top: 0%;
  z-index: 1;
	width: 100%;
	height: 60px;
  background: var(--gradient);
}

ul {
	list-style: none;
  position: relative;
  top: 20px;
  left: 50px;
}

li {
	display: inline;
	color: var(--font-color);
  margin: 10px;
}

a {
  color: var(--font-color);
  margin: 10px;
  font-size: large;
  text-decoration: none;
}

/* -----Artwork showcase----- */
.art {
  width: 80%;
  height: fit-content;
  margin: 25px auto;
}

.artshowcase {
  width: 500px;
  display: inline-block;
  margin: 30px 30px;
  box-shadow: 5px 5px 10px;
}

.artshowcase:hover {
  transform: scale(1.5);
}

.art-text {
  text-align: center;
  position: relative;
  bottom: 250px;
  left: 70px;
  display: inline-block;
  width: 50%;
  margin: 20px;
  padding: 50px 20px;
  border: 3px solid var(--divider-color);
  border-radius: 0 15%;
  background: var(--gradient);
}

/* -----footer----- */
footer {
	width: 100%;
	height: 50px;
	background: var(--gradient);
}
